!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}

  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html;charset=UTF-8"}
    %title Cubeba
    %link{:href => "css/style.css",
          :rel => "stylesheet",
          :type => "text/css"}
    %link{:href => "css/jScrollbar.jquery.css",
          :rel => "stylesheet",
          :type => "text/css"}
    /[if lte IE 8]
      %link{:href => "css/ie.css",
            :rel => "stylesheet",
            :type => "text/css"}

    %script{:type => "text/javascript",
            :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:type => "text/javascript",
            :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"}
    %script{:type => "text/javascript",
            :src => "js/curvycorners.js"}
    %script{:type => "text/javascript",
            :src => "js/jScrollbar.jquery.js"}
    %script{:type => "text/javascript",
            :src => "js/jquery-mousewheel.js"}
    %script{:type => "text/javascript",
            :src => "js/analytics.js"}

  %body
    #main_content

      #top_menu
        #top_menu_inner
          %p
            %a{:href => "/"}
              home
          %p 
            %a{:href => "/galleria"}
              galleria
          %p
            %a{:href => "/news"}
              news
          %p
            %a{:href => "/chi_siamo"}
              chi siamo
          %p
            %a{:href => "/newsletter"}
              newsletter
          %p#top_menu_last
            %a{:href => "/contatti"}
              contatti

        %a{:href => "https://www.facebook.com/pages/Cubeba/226474904029224",
           :target => "_blank"}
          %img#fb{:src => "img/fb.png",
                  :alt => "Facebook_logo"}

      #central_content
        #cubeba.brown
          %span#food_box.cubeba_box_fixed
          %a{:href => "/drink"}
            %span#drink_box.cubeba_box_hover
          %a{:href => "/dance"}
            %span#dance_box.cubeba_box_hover

        #central_top_inner.brown.food
          #central_top_left_column
            #header
            .jScrollbar_left
              .jScrollbar_mask
                %p Il nostro ristorante con la proposta di menu’ di cucina mediterranea alla carta, pizzeria con forno a legna e steak-house. La ristorazione e’ una spiccata influenza lombarda soprattutto per cio’ che riguarda la materia prima, i salumi, i formaggi e le carni; pane e dolci sono rigorosamente fatti in casa.
                %p La cantina propone un’interessante selezione di cantine italiane di bianchi e rossi di grande qualita’, una trentina di etichette in tutto. Costo medio cena 25/35 Euro piu’ bevande.
                %p La pizzeria propone la tradizionale pizza napoletana cotta a forno a legna con lista di pizze classiche con qualche interessante variante creativa.

              .jScrollbar_draggable
                %a.draggable{:href => "#"}
              .clr

          #central_top_right_column

        #central_bottom_inner
        
      #addr

      %script{:type => "text/javascript",
            :src => "js/scroll_left.js"}
        
