!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}

  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html;charset=UTF-8"}
    %title Cubeba
    %link{:href => "css/style.css",
          :rel => "stylesheet",
          :type => "text/css"}
    /[if lte IE 8]
      %link{:href => "css/ie.css",
            :rel => "stylesheet",
            :type => "text/css"}

    %script{:type => "text/javascript",
            :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:type => "text/javascript",
            :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"}
    %script{:type => "text/javascript",
            :src => "js/curvycorners.js"}
    %script{:type => "text/javascript",
            :src => "js/analytics.js"}

  %body
    #main_content

      #top_menu
        #top_menu_inner
          %p
            %a{:href => "/"}
              home
          %p 
            %a{:href => "/galleria"}
              galleria
          %p
            %a{:href => "/news"}
              news
          %p
            %a{:href => "/chi_siamo"}
              chi siamo
          %p
            %a{:href => "/newsletter"}
              newsletter
          %p#top_menu_last
            %a{:href => "/contatti"}
              contatti

        %a{:href => "https://www.facebook.com/pages/Cubeba/226474904029224",
           :target => "_blank"}
          %img#fb{:src => "img/fb.png",
                  :alt => "Facebook_logo"}

      #central_content
        #cubeba.brown
          %a{:href => "/food"}
            %span#food_box.cubeba_box_hover
          %a{:href => "/drink"}
            %span#drink_box.cubeba_box_hover
          %a{:href => "/dance"}
            %span#dance_box.cubeba_box_hover

        #central_top_inner.brown
          %textarea{ :rows => 13, :cols => 60 }
            1. Premessa
            Ai sensi dell'art. 13 del D.Lgs. n. 196/2003 - “Codice in materia di protezione dei dati personali” (di seguito denominato “Codice”), Cubeba srl, in qualità di “Titolare” del trattamento, è tenuto a fornirle informazioni in merito all'utilizzo dei suoi dati personali.

            2. Fonte dei dati personali
            La raccolta dei suoi dati personali viene effettuata registrando i dati da lei stesso forniti, in qualità di interessato, al momento dell'invio del form.

            3. Finalità del trattamento
            I dati personali sono trattati per le seguenti finalità:
            1. Invio di una newsletter periodica o altre comunicazioni relative al locale stesso;
            Per garantire l'efficienza del servizio, la informiamo inoltre che i dati potrebbero essere utilizzati per effettuare prove tecniche e di verifica.

            4. Modalità di trattamento dei dati
            In relazione alle finalità descritte, il trattamento dei dati personali avviene mediante strumenti manuali, informatici e telematici con logiche strettamente correlate alle finalità sopra evidenziate e, comunque, in modo da garantire la sicurezza e la riservatezza dei dati stessi.
            Adempiute le finalità prefissate, i dati verranno cancellati o trasformati in forma anonima.

            5. Facoltatività del conferimento dei dati
            Il conferimento dei dati è facoltativo, ma in mancanza non sarà possibile contattare direttamente l'utente tramite newsletter.

            6. Categorie di soggetti ai quali i dati possono essere comunicati o che possono venirne a conoscenza in qualità di Responsabili o Incaricati
            I suoi dati personali potranno essere conosciuti esclusivamente dai titolari del locale, individuati quali Incaricati del trattamento. Esclusivamente per le finalità previste al paragrafo 3 (Finalità del trattamento).

            7. Diritti dell'Interessato
            La informiamo, infine, che la normativa in materia di protezione dei dati personali conferisce agli Interessati la possibilità di esercitare specifici diritti, in base a quanto indicato all’art. 7 del “Codice” che qui si riporta:
            1. L’interessato ha diritto di ottenere la conferma dell’esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile.
            2. L’interessato ha diritto di ottenere l’indicazione:
            1. dell’origine dei dati personali;
            2. delle finalità e modalità del trattamento;
            3. della logica applicata in caso di trattamento effettuato con l’ausilio di strumenti elettronici;
            4. degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell’art. 5, comma 2;
            5. dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.
            3. L’interessato ha diritto di ottenere:
            1. l’aggiornamento, la rettificazione ovvero, quando vi ha interesse, l’integrazione dei dati;
            2. la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;
            3. l’attestazione che le operazioni di cui alle lettere a. e b. sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.
            4. L’interessato ha diritto di opporsi, in tutto o in parte:
            1. per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorchè pertinenti allo scopo della raccolta;
            2. al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.

            8. Titolare e Responsabili del trattamento
            Il Titolare del trattamento dei dati personali di cui alla presente Informativa è Cubeba srl, con sede in via per Concesa, Vaprio D'Adda.
            Lo stesso è responsabile del riscontro, in caso di esercizio dei diritti sopra descritti.
            Al fine di semplificare le modalità di inoltro e ridurre i tempi per il riscontro si invita a presentare le richieste, di cui al precedente paragrafo, a Paolo Lucano, contattandolo all’indirizzo email paololucano chiocciola cubeba it .
            L’amministratore

        #central_bottom_inner
        
      #addr
        
